section {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 16px;
  border: 4px solid rgb(34, 13, 92);
  padding: 15px;
  background: rgb(146, 191, 220);
  grid-column: auto 4px solid black;
  
}
